#h_smenu1{
 margin-top: 3px;
    margin-left: 10px;
    width: 90%;
    height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu1 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#h_smenu2{
   margin-top: 3px;
    margin-left: 10px;
    width: 90%;
    height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu2 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#h_smenu3{
   margin-top: 3px;
    margin-left: 10px;
    width: 90%;
   height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu3 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#h_smenu4{
    margin-top: 3px;
    margin-left: 10px;
    width: 90%;
    height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu4 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#h_smenu5{
   margin-top: 3px;
    margin-left: 10px;
    width: 90%;
  height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu5 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#h_smenu6{
    margin-top: 3px;
    margin-left: 10px;
    width: 90%;
    height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu6 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
#h_smenu7{
    margin-top: 3px;
    margin-left: 10px;
    width: 90%;
    height: 5%;
    background-color:  #8080FF;
    text-align: center;
    padding: 5px;
    color: white;
    
}
#h_smenu7 a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
